/* Add here all your CSS customizations */
.error{
    color: red;
}
/*@media only screen and (max-width: 1350px) {
            #image { 
                background-image: url(contact1.jpg); 
            }
        }*/