 @media only screen and (max-width: 320px) {
            #image { 
                background-image: url(smallimage.jpg); 
            }
        }/* Header */
#header .header-body {
	padding: 0;
}
#header .header-column .header-extra-info {
	margin: 0;
}
#header .header-column .header-extra-info > li {
	margin-left: -4px;
}
#header .header-column .header-extra-info .feature-box {
	min-height: 110px;
}
#header .header-column .header-extra-info .feature-box h4, #header .header-column .header-extra-info .feature-box h4 a {
	color: #7e8588;
	font-size: 20px;
	font-weight: 300;
}
#header .header-column .header-extra-info .feature-box .feature-box-icon, #header .header-column .header-extra-info .feature-box .feature-box-info {
	position: relative;
	top: 40px;
}
#header .header-column .header-extra-info .feature-box .feature-box-icon {
	width: 40px;
	margin-right: -10px;
}
#header .header-column .header-extra-info .feature-box .feature-box-info {
	padding-left: 45px;
}
#header .header-column .header-extra-info .feature-box.feature-box-call {
	margin-right: 20px;
	padding-right: 30px;
}

@media (min-width: 992px) {
	#header .header-column .header-extra-info .feature-box.feature-box-call {
		border-right: 1px solid #E9E9E9;
	}
	#header .header-nav-bar {
		padding: 0 10px;
	}
	#header .header-nav-bar .header-nav-main {
		margin: 0;
	}
	#header .header-nav-bar .header-nav-main nav > ul > li {
		margin-left: 0;
	}
	#header .header-nav-bar .header-nav-main nav > ul > li > a {
		padding: 20px 21px;
		font-size: 14px;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}
	#header .header-nav-bar .header-nav-main nav > ul > li > a.dropdown-toggle {
		padding: 20px 37px 20px 21px;
	}
	#header .header-nav-bar .header-nav-main nav > ul > li > a.dropdown-toggle:after {
		top: 18px;
		right: 21px;
	}
	#header .header-nav-bar .header-nav-main nav > ul > li.dropdown .dropdown-menu {
		margin-top: 0;
	}
	#header .header-nav-bar .header-nav-main nav > ul > li:last-child > a {
		border-right: 0;
	}
	#header .header-search {
		background: rgba(0, 0, 0, 0.07);
		margin: 0 0 0 -5px;
		padding: 0;
	}
	#header .header-search .form-control {
		background: transparent;
		border: 0;
		width: 190px;
		height: 60px;
		color: #FFF;
		margin: 0 50px 0 0;
		padding-left: 22px;
		font-size: 14px;
		font-weight: bold;
	}
	#header .header-search .form-control::-webkit-input-placeholder {
		color: #FFF;
		opacity: 0.4;
		text-transform: uppercase;
	}
	#header .header-search .form-control:-moz-placeholder {
		color: #FFF;
		opacity: 0.4;
		text-transform: uppercase;
	}
	#header .header-search .form-control::-moz-placeholder {
		color: #FFF;
		opacity: 0.4;
		text-transform: uppercase;
	}
	#header .header-search .form-control:-ms-input-placeholder {
		color: #FFF;
		opacity: 0.4;
		text-transform: uppercase;
	}
	#header .header-search .btn-default {
		color: #fff;
		font-size: 20px;
		opacity: 0.4;
		right: 5px;
		top: 10px;
	}
}
@media (max-width: 767px) {
	#header .header-row {
		min-height: 104px;
	}
	#header .header-column .header-extra-info .feature-box.feature-box-call {
		min-height: 0;
		margin: 0;
		padding: 0;
	}
	#header .header-column .header-extra-info .feature-box.feature-box-call .feature-box-icon {
		display: none;
	}
	#header .header-column .header-extra-info .feature-box.feature-box-call .feature-box-info {
		position: static;
		margin: 32px 0 0;
		padding: 0;
	}
	#header .header-column .header-extra-info .feature-box.feature-box-call .feature-box-info h4, #header .header-column .header-extra-info .feature-box.feature-box-call .feature-box-info h4 a {
		font-size: 14px;
	}
}
/* Slider */
.slider .dione .tp-bullet.selected,
.slider .dione .tp-bullet:hover {
	background: #FFF;
}

@media (max-width: 991px) {
	.tp-bullets {
		display: none;
	}
/* @media only screen and (max-width: 1350px) {
            #image { 
                background-image: url(contact1.jpg); 
            }
        }*/
}
